[submodule "3rd/lume"]
	path = 3rd/lume
	url = https://github.com/rxi/lume
[submodule "3rd/inspect"]
	path = 3rd/inspect
	url = https://github.com/kikito/inspect.lua
[submodule "3rd/baton"]
	path = 3rd/baton
	url = https://github.com/tesselode/baton
[submodule "3rd/bump"]
	path = 3rd/bump
	url = https://github.com/kikito/bump.lua
[submodule "3rd/toasts"]
	path = 3rd/toasts
	url = https://codeberg.org/togfox/Lovely-Toasts
[submodule "3rd/flux"]
	path = 3rd/flux
	url = https://github.com/rxi/flux
